// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.events-section {
  border: solid;
  border-radius: 5px;
  padding: 5px;
}

.event-calendar {
  padding: 2px;
  background-color: cornflowerblue;
  color: white;
}
.simple-calendar {
  .week-header {
    border: solid cornflowerblue;
    background-color: cornflowerblue;
    color: white;
  }
  .calendar-heading {
    font-size: medium;
    padding-bottom: 5px;
  }

  .calendar-title {
    font-size: x-large;
  }
  
  .day {
    width: 50px;
    height: 100px;
    border: solid cornflowerblue;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background-color: lightgoldenrodyellow;
  }
  .past {}
  .future {}

  .start-date {}

  .prev-month {}
  .next-month {
    background-color: lightgray;
  }
  .current-month {}

  .has-events {}
}

.new-event-button {
  padding: 5px;
  border: solid;
  border-radius: 3px;
  background-color: cornflowerblue;
  color: white !important;
  font-weight: bold;
  justify-content: center;
  display: flex;
}
